extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/services.html')  Услуги
                    li.breadcrumbs__item
                        span Горно-геологический аудит
            section.main__description
                h1.main__title--h1  Горно-геологический аудит
                p.main__text
            section.service__content                
                ul.service__list
                    li.service__item Due Dilligence, Заключения
                    li.service__item Экспертиза проектной документации и решений
                    li.service__item Оценка ресурсов и запасов по российским и международным стандартам
                .service__image.service__image--audit
