extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/services.html')  Услуги
                    li.breadcrumbs__item
                        span Инженерно-технический консалтинг
            section.main__description
                h1.main__title--h1  Инженерно-технический консалтинг
                p.main__text
            section.service__content
                ul.service__list
                    li.service__item ТЭО, Bankable Feasibility Study, Pre-feasibility Study, Scoping Study
                    li.service__item Оптимизация горных работ и планов развития, повышение производительности
                .service__image.service__image--consulting
                