extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/services.html')  Услуги
                    li.breadcrumbs__item
                        span Экологические и социальные аспекты
            section.main__description
                h1.main__title--h1 Экологические и социальные аспекты
                p.main__text
            section.service__content
                ul.service__list
                    li.service__item Оценка воздействия на окружающую среду (в российском (ОВОС) и международном (ESIA) форматах)
                    li.service__item Оценка экологических и социальных рисков проектов
                    li.service__item  Аудит систем управления экологическими и социальными вопросами
                    li.service__item Планирование закрытия предприятия и рекультивации земель с оценкой стоимости
                    li.service__item Планирование взаимодействий с заинтересованными сторонами
                    li.service__item Экологический и социальный консалтинг
                .service__image.service__image--ecology