extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/services.html')  Услуги
                    li.breadcrumbs__item
                        span Инженерное проектирование
            section.main__description
                h1.main__title--h1  Инженерное проектирование
                p.main__text
            section.service__content
                ul.service__list
                    li.service__item Разработка проектной и предпроектной документации 
                    li.service__item Все аспекты деятельности горнодобывающих предприятий: горная часть, механизация, параметры горных работ, отвалообразование, транспортная схема и др
                    li.service__item Возможно в консорциуме с российскими проектными институтами
                .service__image.service__image--engineering