extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/services.html')  Услуги
                    li.breadcrumbs__item
                        span Инвестиционный анализ
            section.main__description
                h1.main__title--h1 Инвестиционный анализ
                p.main__text
            section.service__content
                ul.service__list
                    li.service__item Содействие в освоении минерально-сырьевых проектов
                    li.service__item Сопровождение развития проекта, OER/LER
                .service__image.service__image--investing