extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/services.html')  Услуги
                    li.breadcrumbs__item
                        span Моделирование
            section.main__description
                h1.main__title--h1  3D Моделирование
                p.main__text 
            section.service__content
                ul.service__list 
                    li.service__item Геологическое
                    li.service__item Качества полезного ископаемого
                    li.service__item ОГР (Whittle, NPV - Scheduler)
                    li.service__item ПГР (MSO, 5-D planner)
                    li.service__item Геомеханика
                    li.service__item Гидрогеология
                    li.service__item Инфраструктура (BIM)
                    li.service__item БВР
                    li.service__item Дегазация
                .service__image.service__image--modelling
            section.srvice__page.page__lightbox
                        .lightbox__wrapper
                            .lightbox__item
                                img(src="img/1600w/modelling-2-1600w.jpg" id="1" alt="" ).lightbox__image
                            .lightbox__item
                                img(src="img/1600w/modelling-3-1600w.jpg" id="2" alt="" ).lightbox__image
                            .lightbox__item
                                img(src="img/1600w/modelling-4-1600w.jpg" id="3" alt="" ).lightbox__image
                            .lightbox__item
                                img(src="img/1600w/modelling-5-1600w.jpg" id="4" alt="" ).lightbox__image
                            .lightbox__item
                                img(src="img/1600w/modelling-6-1600w.jpg" id="5" alt="" ).lightbox__image
                            .lightbox__item
                                img(src="img/1600w/modelling-7-1600w.jpg" id="6" alt="" ).lightbox__image
            .lightbox__modal#lb_modal
                span.lightbox__close &times;
                img.lightbox__content#lb__img01
                .lightbox__caption#lb__caption