extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/services.html')  Услуги
                    li.breadcrumbs__item
                        span Планирование инфраструктуры производства
            section.main__description
                h1.main__title--h1 Планирование инфраструктуры производства
                p.main__text
                section.service__content
                    ul.service__list
                        li.service__item Оптимизация ситуационного плана и расположения промплощадок
                        li.service__item Посёлки, дороги/сообщение, здания и сооружения
                        li.service__item Водоснабжение и водоотведение, энергоснабжение
                    .service__image.service__image--planing
                section.srvice__page.page__lightbox
                            .lightbox__wrapper
                                .lightbox__item
                                    img(src="img/1600w/planing-2-1600w.jpg" data-id="planing1" alt="" ).lightbox__image
                                .lightbox__item
                                    img(src="img/1600w/planing-3-1600w.jpg" data-id="planing2" alt="" ).lightbox__image
                .lightbox__modal#lb_modal
                    span.lightbox__close &times;
                    img.lightbox__content#lb__img01
                    .lightbox__caption#lb__caption