extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/services.html')  Услуги
                    li.breadcrumbs__item
                        span Переработка полезных ископаемых
            section.main__description
                h1.main__title--h1  Переработка полезных ископаемых
                p.main__text
            section.service__content
                ul.service__list
                    li.service__item Дробление
                    li.service__item Сепарация
                    li.service__item Обогащение
                    li.service__item Металлургия
                .service__image.service__image--refining