extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/services.html')  Услуги
                    li.breadcrumbs__item
                        span Сопровождение исследований
            section.main__description
                h1.main__title--h1  Сопровождение исследований
                p.main__text
            section.service__content
                ul.service__list
                    li.service__item QA\QC геологоразведочных работ
                    li.service__item Сопровождение инженерных, геологических, экологических изысканий
                    li.service__item Сопровождение НИР, разработки технологических регламентов
                .service__image.service__image--research
            section.srvice__page.page__lightbox
                        .lightbox__wrapper
                            .lightbox__item
                                img(src="img/1600w/research-2-1600w.jpg" id="expogr1" alt="" ).lightbox__image
            .lightbox__modal#lb_modal
                span.lightbox__close &times;
                img.lightbox__content#lb__img01
                .lightbox__caption#lb__caption