extends ../layout/layout
block content
    main.main
        section.contacts__wrapper
            h1.contacts__title Контакты
            #map.contacts__map
            .contacts__hero
                .contacts__info
                    .contacts__adress
                        .contacts__adress--moscow
                            h5.contacts__city Москва
                            .contacts__text
                                a(href='tel:+74993901214') +7 (499) 390 1214
                                a(href='mailto:consulting@gmc-consulting.ru') consulting@gmc-consulting.ru
                                span
                                    | 125047, г.Москва, ул. Чаянова, д. 22,
                                    | стр. 4, этаж 2, пом. 1, ком. 11
                        .contacts__adress--almati
                            h5.contacts__city Алматы
                            .contacts__text
                                a(href='tel:+77478030759') +7(747) 803 0759
                                a(href='mailto:consulting@gmc-consulting.ru')  kz-office@gmc-consulting.ru
                            

                    .contacts__form
                        form.feedback(action='mailto:consulting@gmc-consulting.ru')
                            .feedback__wrapper
                                h2 Хотите задать вопрос?
                                input.feedback__name(type='text' s='' placeholder='Ваше имя' name='name' required='')
                                input.feedback__email(type='email' placeholder='Ваш Email' name='email' required='')
                                textarea.feedback__text(placeholder='Ваше сообщение' name='descr' rows='4' required='')
                                button.form__submit(type='submit') Отправить
                                button.feedback__close(type='button' onclick="document.getElementById('popup').style.display='none'")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq58BB-dtCwfIuSHBTxU08vn6eiesqKnM&callback=initMap")
    script(type="text/javascript").
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: new google.maps.LatLng(55.777872, 37.598667),
          mapTypeId: 'roadmap',
          disableDefaultUI: true,
          zoomControl: true,
          zoomControlOptions: {
                 position: google.maps.ControlPosition.RIGHT_TOP
             },
          styles: [
            {
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#f5f5f5"
              }
            ]
            },
            {
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
            },
            {
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#616161"
              }
            ]
            },
            {
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "color": "#f5f5f5"
              }
            ]
            },
            {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#bdbdbd"
              }
            ]
            },
            {
            "featureType": "landscape",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#c0c0c0"
              },
              {
                "visibility": "on"
              }
            ]
            },
            {
            "featureType": "landscape.man_made",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#c0c0c0"
              },
              {
                "saturation": -5
              },
              {
                "lightness": -45
              },
              {
                "visibility": "on"
              },
              {
                "weight": 8
              }
            ]
            },
            {
            "featureType": "landscape.natural",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#c0c0c0"
              },
              {
                "visibility": "on"
              }
            ]
            },
            {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#eeeeee"
              }
            ]
            },
            {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#757575"
              }
            ]
            },
            {
            "featureType": "poi.business",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
            },
            {
            "featureType": "poi.park",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#e5e5e5"
              }
            ]
            },
            {
            "featureType": "poi.park",
            "elementType": "labels.text",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
            },
            {
            "featureType": "poi.park",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#9e9e9e"
              }
            ]
            },
            {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#ffffff"
              }
            ]
            },
            {
            "featureType": "road.arterial",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#757575"
              }
            ]
            },
            {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#dadada"
              }
            ]
            },
            {
            "featureType": "road.highway",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#616161"
              }
            ]
            },
            {
            "featureType": "road.local",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#9e9e9e"
              }
            ]
            },
            {
            "featureType": "transit.line",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#e5e5e5"
              }
            ]
            },
            {
            "featureType": "transit.station",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#eeeeee"
              }
            ]
            },
            {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#c9c9c9"
              }
            ]
            },
            {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#9e9e9e"
              }
            ]
            }
            ]
        });

        var iconBase = 'img/logos/';
        var icons = {
          gmc: {
            icon: iconBase + 'gmc-small.png'
          }
        };
      
        var features = [
          {
            position: new google.maps.LatLng(55.777872, 37.598667),
            type: 'gmc'
          }
        ];

        // Create markers.
        features.forEach(function(feature) {
          var marker = new google.maps.Marker({
            position: feature.position,
            icon: "img/logos/gmc-small.png",
            map: map
          });
        });
      }
