extends ../layout/layout
block content
	main.main
		.main__content.content__documents
			.breadcrumbs.documents__breadcrumbs
				ul.breadcrumbs__list
					li.breadcrumbs__root
						a(href='/index.html') Главная
					li.breadcrumbs__item
						span Документы
			section.main__description
				h1.main__title--h1 Документы
				p.main__text
		section.documents__content
			.documents__filter
				button#showAll.documents__button.documents__button--active(type='button')
					span Все
				button#showCodex.documents__button(type='button')
					span Кодексы
				button#showArticles.documents__button(type='button')
					span Статьи и публикации
				button#showRecoms.documents__button(type='button')
					span Методические рекомендации
			section.documents__results
				#codex.documents__block.documents__codex
					h3.block__header Кодексы
					.block__wrapper
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/jorc.pdf' target="_blank") JORC Code
							p.item__text
								| Сборник международных горных кодексов JORC. Издание 2012 года.
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/kazrc.pdf' target="_blank") KAZRC
							p.item__text
								|   Казахстанский Кодекс Публичной Отчетности о Результатах Геологоразведочных работ, Минеральных Ресурсах и Минеральных Запасах (Кодекс KAZRC)
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/valmin.pdf' target="_blank") Кодекс VALMIN
							p.item__text
								| Австралоазиатский Кодекс Публичной Отчетности по Технической и Экономической оценкам Минерально-Сырьевых Активов.
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/ni43.pdf' target="_blank") Национальный Инструмент 43-101 (NI 43-101)
							p.item__text
								| Стандарты раскрытия информации по минерально-сырьевым проектам.
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/classification.pdf' target="_blank") Австралийское руководство по оценке и классификации угольных ресурсов
							p.item__text
									
				#articles.documents__block.documents__articles
					h3.block__header Статьи и публикации
					.block__wrapper
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/rmt.pdf' target="_blank") Экспорт инновыций и технологий - RMT
							p.item__text
								| "Russian Mining Technologies" обладает широкими связями с машиностроительными и научно-исследовательскими организациями в России и за рубежом.
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/tpi_features.pdf' target="_blank") Особенности и характеристика различных систем отчётности о запасах ТПИ
							p.item__text
								| Аналитический практический анализ, материалы ООН, CRIRSCO, ГКЗ, ВИМС, IMC)
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/new_class.pdf' target="_blank") Новая Российская классификация запасов и прогнозных ресурсов ТПИ
							p.item__text
								| Новая классификация и её гармонизация с зарубежными системами отчетности
				#recoms.documents__block.documents__recoms
					h3.block__header Методические рекомендации
					.block__wrapper
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/recommendations/tpi_recommendations.pdf' target="_blank") Классификация запасов ТПИ
							p.item__text
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/recommendations/au.pdf' target="_blank") Золото
							p.item__text
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/recommendations/cu.pdf' target="_blank") Медь
							p.item__text
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/recommendations/molibden.pdf' target="_blank") Молибден
							p.item__text
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/recommendations/pb-zn.pdf' target="_blank") Свинец и цинк
							p.item__text
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/recommendations/ni-co.pdf' target="_blank") Никель и кобальт
							p.item__text
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/recommendations/fe.pdf' target="_blank") Железные руды
							p.item__text
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/recommendations/coal.pdf' target="_blank") Угли и горючие сланцы
							p.item__text
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/recommendations/magnesite.pdf' target="_blank") Магнезит и бурсит
							p.item__text
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/recommendations/quarz.pdf' target="_blank") Кварц
							p.item__text
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/recommendations/phosphorites.pdf' target="_blank") Фосфатные руды
							p.item__text
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/recommendations/salts.pdf' target="_blank") Соли
							p.item__text
						.documents__item
							img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
							h4.item__header
								a(href='download/docs/recommendations/asbestos.pdf' target="_blank") Асбест
							p.item__text
