extends ../layout/layout
block content
    main.main__content.content__experience
        button.main__to-top  Вернуться к карте
        .breadcrumbs.experience__breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__root
                    a(href='/index.html') Главная
                li.breadcrumbs__item
                    span Опыт работы
        section.main__description
            h1.main__title--h1 Опыт работы
            p.main__text Персонал GMC имеет многолетний опыт в предоставлении профессиональных консалтинговых услуг в горнодобывающем секторе России и стран СНГ, а также опыт работы в реальном секторе производства и проведении научно-исследовательских работ.
            button.main__button.button__collapse Читать далее
        .main__content--collapsable
            section.experience__content
                p.experience__text Штат компании представлен независимыми экспертами, специализирующимися в горном консалтинге. Эксперты компании имеют опыт работы в горнодобывающей отрасли и консалтинге более 10 лет. Ряд наших экспертов является независимыми экспертами Государственной Комиссии по Запасам.
                p.experience__text По каждому проекту мы формируем команду профессионалов, учитывая все особенности. 
                p.experience__text Широкое знание рынка услуг горного консалтинга позволяет нам предлагать оптимальные решения для наших клиентов, совмещать современные методы горного моделирования и планирования горных работ и опыт проектирования российских предприятий. Мы имеем тесные контакты с ведущими проектными институтами и специализированными организациями горной отрасли. При оценке запасов мы привлекаем компетентных лиц, имеющих международное признание.
            .main__columns.experience__columns
                .columns__wrapper
                    .columns__item.experience__column
                        h4.column__title Эксперты
                        p.column__text Эксперты имеют опыт работы по широкому спектру проектов, начиная от небольших проектов Greenfield, Brownfield до Feasibility Study освоения крупных месторождений минерального сырья. 
                    .columns__item.experience__column
                        h4.column__title Специалисты
                        p.column__text Специалисты компании работали по горным и инфраструктурным проектам горно-металлургических компаний и инвестиционных фондов: Евраз, СУЭК, Норильский Никель, Сарыарка-Майнинг, Central Asian Investment Consulting Company, Рефтинская ГРЭС, МОЭСК, ЗАО «НефтьЭнергоГаз». 
                    .columns__item.experience__column
                        h4.column__title В период 2010-2019 г.
                        p.column__text GMC подготовила более 25 отчетов по оценке эффективности отработки месторождений угля, золота и полиметаллических руд.
    #experienceMap.experience__map
    .main__content.content__experience
        section.experience__table
            .table__fade
            .main__table
                    h2.table__title Выполненные работы
                    .table__wrapper
                        .table__row.table__row--header
                            .table__column.table__column--year
                                span Год
                            .table__column.table__column--client
                                span Клиент
                            .table__column.table__column--job
                                span Вид работ
                            .table__column.table__column--place
                                span Месторасположение
                            .table__column.table__column--refine
                                span Включая переработку <br>полезного ископаемого
                        .table__row.table__row--item#1
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span Тиолайн
                            .table__column.table__column--job
                                span Оценка запасов согласно KAZRC месторожения Шокаш
                            .table__column.table__column--place
                                span Казахстан
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#2
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span Конфиденциально
                            .table__column.table__column--job
                                span Анализ инвестиционной привлекательности строительства угольного портового терминала Совгавань
                            .table__column.table__column--place
                                span Россия, Дальневосточный округ
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#3
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span Кашемир Капитал
                            .table__column.table__column--job
                                span Аудит персонала, программа запуска Лермонтовского ГМЗ, контроль и сопровождение запуска завода
                            .table__column.table__column--place
                                span Россия, Ставропольский край
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#4
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span Интергео / Гипроцветмет
                            .table__column.table__column--job
                                span Аудит изысканий по автомобильной дороге к месторождению Ак-Суг
                            .table__column.table__column--place
                                span Россия, Тыва
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#5
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span Интергео / Кингашская ГРК
                            .table__column.table__column--job
                                span Разработка ПреТЭО освоения месторождения медно-никелевых руд Кингаш
                            .table__column.table__column--place
                                span Россия, Красноярский край
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#6
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span Долгучан
                            .table__column.table__column--job
                                span ТЭО кондиций / изменение границ отработки ОГР участка угля Долгучан
                            .table__column.table__column--place
                                span Россия, Нерюнгри
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#7
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span АО "Кузнецкая инвестиционно-строительная компания"
                            .table__column.table__column--job
                                span Выбор оптимальной схемы переработки угля разреза Корчакольский
                            .table__column.table__column--place
                                span Кемеровская обл.
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#8
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span К-Поташ Сервис
                            .table__column.table__column--job
                                span ТЭО строительства цеха по производству мягкой тары для продукции
                            .table__column.table__column--place
                                span Россия, Калининград
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#9
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span Интергео / Гипроцветмет
                            .table__column.table__column--job
                                span QA/QC - сопровождение и контроль изысканий, включая геодезию, ГРР, экологию при проектировании ГОКа
                            .table__column.table__column--place
                                span Россия, Тыва
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#10
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span К-Поташ
                            .table__column.table__column--job
                                span ТЭО строительства цеха по переработке каменной соли
                            .table__column.table__column--place
                                span Россия, Калининград
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#11
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span Гипроцветмет
                            .table__column.table__column--job
                                span ОТР развития месторождения меди Ак-Суг, Интергео
                            .table__column.table__column--place
                                span Россия, Тыва
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#12
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span КПМГ
                            .table__column.table__column--job
                                span Технический аудит программы развития Калининградского Янтарного Комбината, VI Holding
                            .table__column.table__column--place
                                span Россия, Калининград
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#13
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span ООО "Северная Звезда" / Корпорация АЕОН
                            .table__column.table__column--job
                                span Разработка Концепции развития Сырадасайского угольного месторождения, включая сопровождение заверочного бурения
                            .table__column.table__column--place
                                span Россия, Таймыр
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#14
                            .table__column.table__column--year
                                span 2018
                            .table__column.table__column--client
                                span Интергео / Гипроцветмет
                            .table__column.table__column--job
                                span QA/QC - сопровождение и контроль изысканий, включая геодезию, ГРР, экологию при проектировании ГОКа
                            .table__column.table__column--place
                                span Россия, Тыва
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#15
                            .table__column.table__column--year
                                span 2017
                            .table__column.table__column--client
                                span ООО Интерминералс
                            .table__column.table__column--job
                                span Scoping Study вариантов развития <br>месторождений/предприятий центрального рудного узла "Золото камчатки"
                            .table__column.table__column--place
                                span Камчатский край
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#16
                            .table__column.table__column--year
                                span 2017
                            .table__column.table__column--client
                                span ПАО Кузбасская Топливная Компания
                            .table__column.table__column--job
                                span Оценка ресурсов и запасов угледобывающих предприятий согласно требованиям Кодекса JORC 2012
                            .table__column.table__column--place
                                span Кемеровская обл.
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#17
                            .table__column.table__column--year
                                span 2017
                            .table__column.table__column--client
                                span Кузнецкая Инвестиционно-Строительная Компания (КИСК)
                            .table__column.table__column--job
                                span Подготовка документов для участия в аукционе на недропользование, уголь, Кузбасс. Предварительное заключение об эффективности освоения участка.
                            .table__column.table__column--place
                                span Кемеровская обл.
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#18
                            .table__column.table__column--year
                                span 2017
                            .table__column.table__column--client
                                span Евразийский Банк Развития (ЕАБР)
                            .table__column.table__column--job
                                span Проведение обучающих семинаров по вопросам развития месторождений и оценки горнодобывающих проектов
                            .table__column.table__column--place
                                span Россия, Казахстан
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#19
                            .table__column.table__column--year
                                span 2017
                            .table__column.table__column--client
                                span ООО Интерминералс
                            .table__column.table__column--job
                                span Оценка ресурсов и запасов JORC Equivalent золотодобывающих активов компании
                            .table__column.table__column--place
                                span Камчатский край
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#20
                            .table__column.table__column--year
                                span 2016
                            .table__column.table__column--client
                                span McKinsey
                            .table__column.table__column--job
                                span Due Diligence программы развития рудника 
                            .table__column.table__column--place
                                span Мурманская область
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#21
                            .table__column.table__column--year
                                span 2016
                            .table__column.table__column--client
                                span Инвестор
                            .table__column.table__column--job
                                span Подготовка заключения по основным геологическим и производственным рискам крупной золотодобывающей компании
                            .table__column.table__column--place
                                span Амурская область
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#22
                            .table__column.table__column--year
                                span 2016
                            .table__column.table__column--client
                                span ООО Инжиниринговая Компания 2К
                            .table__column.table__column--job
                                span Подготовка заключения о технической состоятельности проекта строительства горно-обогатительного комбината
                            .table__column.table__column--place
                                span Нерюнгри
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#23
                            .table__column.table__column--year
                                span 2016
                            .table__column.table__column--client
                                span Самрук - Казына
                            .table__column.table__column--job
                                span Проведение технического аудита юридического лица (АО "Сырымбет") и месторождения олова в рамках совместной реализации инвестиционного проекта "Разработка месторождения олова "Сырымбет" и строительство горно-металлургического комплекса
                            .table__column.table__column--place
                                span Казахстан
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#24
                            .table__column.table__column--year
                                span 2016
                            .table__column.table__column--client
                                span ТОО Есіл-Mining
                            .table__column.table__column--job
                                span QA/QC геологоразведочных работ месторождения Аксоран
                            .table__column.table__column--place
                                span Казахстан
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#25
                            .table__column.table__column--year
                                span 2015
                            .table__column.table__column--client
                                span ООО НАЭН-Консалт
                            .table__column.table__column--job
                                span Подготовка концепции совершенствования нормативно-методической базы по разработке и экспертизе ТЭО кондиций и подсчета запасов твердых полезных ископаемых
                            .table__column.table__column--place
                                span 
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#26
                            .table__column.table__column--year
                                span 2015
                            .table__column.table__column--client
                                span ПАО Соль Руси
                            .table__column.table__column--job
                                span Pre-Feasibility Study отработки Белбажского месторождения каменнных солей
                            .table__column.table__column--place
                                span Нижегородская область
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#27
                            .table__column.table__column--year
                                span 2015
                            .table__column.table__column--client
                                span АО НЭО Центр
                            .table__column.table__column--job
                                span Проведение части технологическогго и ценового аудита инвестиционного проекта "Строительство объектов окончательной изоляции радиоактивных отходов"
                            .table__column.table__column--place
                                span Красноярский край, Нижне-Канский массив
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#28
                            .table__column.table__column--year
                                span 2015
                            .table__column.table__column--client
                                span ОАО Комплексные Горнодобывающие Инвестиции
                            .table__column.table__column--job
                                span Заключение о возможности сравнительной оценки "Северо-Красноборского" месторождения
                            .table__column.table__column--place
                                span Калининградская обл.
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#29
                            .table__column.table__column--year
                                span 2015
                            .table__column.table__column--client
                                span ОАО Донской уголь
                            .table__column.table__column--job
                                span Подготовка заключения об экономической эффективности развития шахт "Шерловская -Наклонная" и "Обуховская № 1"
                            .table__column.table__column--place
                                span 
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#30
                            .table__column.table__column--year
                                span 2015
                            .table__column.table__column--client
                                span ОСАО ИНГОССТРАХ
                            .table__column.table__column--job
                                span Определение состояния поврежденного имущества (аппозициоонная обогатительная установка). Заключение для арбитражного суда
                            .table__column.table__column--place
                                span 
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#31
                            .table__column.table__column--year
                                span 2015
                            .table__column.table__column--client
                                span ООО Забайкальское горонудное предприятие
                            .table__column.table__column--job
                                span Разработка технико-экономических предложений по освоению участка Окинский-2 в Республике Бурятия
                            .table__column.table__column--place
                                span Республика Бурятия
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#32
                            .table__column.table__column--year
                                span 2014
                            .table__column.table__column--client
                                span Доппельмайер
                            .table__column.table__column--job
                                span Разработка предложений по строительству ГПКД для Удачнинского ГОКа
                            .table__column.table__column--place
                                span 
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#33
                            .table__column.table__column--year
                                span 2014
                            .table__column.table__column--client
                                span ООО Горно-Геологическая Компания
                            .table__column.table__column--job
                                span Разработка технико-экономических предложений для геологичкского изучения, разведки и добычи нефрита на участке "Привальный"
                            .table__column.table__column--place
                                span Республика Бурятия
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#34
                            .table__column.table__column--year
                                span 2014
                            .table__column.table__column--client
                                span ООО Горно-Геологическая Компания
                            .table__column.table__column--job
                                span Разработка технико-экономических предложений для геологичкского изучения, разведки и добычи нефрита на участке "Хуша-Гольский"
                            .table__column.table__column--place
                                span Окинский район, Республика Бурятия
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#35
                            .table__column.table__column--year
                                span 2014
                            .table__column.table__column--client
                                span Прайсвотерхаус Раша Б.В.
                            .table__column.table__column--job
                                span Анализ 20 крупных горнорудных проектов по минералам: уголь, железная руда, медь и никель, калийные удобрения, прочие
                            .table__column.table__column--place
                                span 
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#36
                            .table__column.table__column--year
                                span 2013
                            .table__column.table__column--client
                                span НПЦ по геологии, РБ
                            .table__column.table__column--job
                                span Подготовка горно-технической части ТЭО проекта постоянных кондиций для подсчета запасов Смоловского участка Старобинского месторождения калийных солей
                            .table__column.table__column--place
                                span Республика Беларусь
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#37
                            .table__column.table__column--year
                                span 2013
                            .table__column.table__column--client
                                span Институт Якутнипроалмаз АК Алроса (ОАО)
                            .table__column.table__column--job
                                span Обоснованте оптимальных грниц и рационального графика развития проиводственной мощности при отработаке месторождения трубки "Ботуобинская" с писпольованием программного комплекса NPV Sheduler
                            .table__column.table__column--place
                                span 
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#38
                            .table__column.table__column--year
                                span 2013
                            .table__column.table__column--client
                                span ЗГРП, VI Holding
                            .table__column.table__column--job
                                span ТЭП Кавокта, нефрит
                            .table__column.table__column--place
                                span Республика Бурятия
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#39
                            .table__column.table__column--year
                                span 2013
                            .table__column.table__column--client
                                span ЗГРП, VI Holding
                            .table__column.table__column--job
                                span ТЭП Окинский 2, нефрит
                            .table__column.table__column--place
                                span Республика Бурятия
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#40
                            .table__column.table__column--year
                                span 2013
                            .table__column.table__column--client
                                span ЗГРП, VI Holding
                            .table__column.table__column--job
                                span ТЭП Баунтовский, нефрит
                            .table__column.table__column--place
                                span Республика Бурятия
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#41
                            .table__column.table__column--year
                                span 2013
                            .table__column.table__column--client
                                span Иностранный инвестор
                            .table__column.table__column--job
                                span Заключение по разрезу Степановский
                            .table__column.table__column--place
                                span Кемерово, Кемеровская обл.
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#42
                            .table__column.table__column--year
                                span 2013
                            .table__column.table__column--client
                                span Иностранный инвестор
                            .table__column.table__column--job
                                span Scoping Study угольного участка Устье Реки
                            .table__column.table__column--place
                                span Забайкальский край
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#43
                            .table__column.table__column--year
                                span 2013
                            .table__column.table__column--client
                                span Украинский инвестор
                            .table__column.table__column--job
                                span Заключение по Носачевскому апатит-ильменитовому месторождению
                            .table__column.table__column--place
                                span Черкасская область, Украина
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#44
                            .table__column.table__column--year
                                span 2013
                            .table__column.table__column--client
                                span Ренова
                            .table__column.table__column--job
                                span Заключение по угольному месторождению Аршановский
                            .table__column.table__column--place
                                span Хакасия
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#45
                            .table__column.table__column--year
                                span 2012
                            .table__column.table__column--client
                                span Администрация республики Коми
                            .table__column.table__column--job
                                span Подготовка презентационного материала по группам полезных ископаемых Республики Коми
                            .table__column.table__column--place
                                span 
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#46
                            .table__column.table__column--year
                                span 2012
                            .table__column.table__column--client
                                span ООО АФТ Трейд
                            .table__column.table__column--job
                                span Предварительный технико-экономический анализ эффективности разработки Аскизского каменноугольного месторождения
                            .table__column.table__column--place
                                span Хакасия
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#47
                            .table__column.table__column--year
                                span 2012
                            .table__column.table__column--client
                                span ООО ИТЛ Групп
                            .table__column.table__column--job
                                span Scoping Study освоения участка Новоказанский-2
                            .table__column.table__column--place
                                span Кемерово, Кемеровская обл.
                            .table__column.table__column--refine
                                span.ref--yes
                        .table__row.table__row--item#48
                            .table__column.table__column--year
                                span 2011
                            .table__column.table__column--client
                                span Северная Грузовая Компания
                            .table__column.table__column--job
                                span Scoping Study освоения участка Лебединский, Истокский
                            .table__column.table__column--place
                                span Кемерово, Кемеровская обл.
                            .table__column.table__column--refine
                                span.ref--no
                        .table__row.table__row--item#49
                            .table__column.table__column--year
                                span 2011
                            .table__column.table__column--client
                                span ООО ИТЛ Групп
                            .table__column.table__column--job
                                span Scoping Study освоения участка Западный
                            .table__column.table__column--place
                                span Новосибирская обл
                            .table__column.table__column--refine
                                span.ref--yes
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq58BB-dtCwfIuSHBTxU08vn6eiesqKnM&callback=initMap"
    async defer)
    script(type="text/javascript").
        document.addEventListener('DOMContentLoaded', function() {
           let scrollToTop = document.getElementsByClassName('main__to-top')[0];
           let expMap = document.getElementById('experienceMap');
           let bttmOffset = document.getElementsByTagName('footer')[0].offsetHeight + 50;
           let body = document.body,
               html = document.documentElement;

           let fullPageHeight = Math.max( body.scrollHeight, body.offsetHeight, 
                                  html.clientHeight, html.scrollHeight, html.offsetHeight );

           window.onscroll = function() {
               scrollFunction();            
               };

           function scrollFunction() {
             if (document.body.scrollTop > 1300 || document.documentElement.scrollTop > 1300) {
               scrollToTop.style.display = "block";
               scrollToTop.style.position = "fixed";
             }
               else {
               scrollToTop.style.display = "none";
             }
           }
           
           // Check button offset on scroll

           // When the user clicks on the button, scroll to the top of the document
           scrollToTop.onclick = function() {
               expMap.scrollIntoView(); // For Safari
               expMap.scrollIntoView(); // For Chrome, Firefox, IE and Opera
           }
           
           //- function topFunction() {
             
           //- }
        }, false);

        
                                            
    script(type="text/javascript").

        let points = [
        ['Оценка запасов согласно KAZRC месторожения Шокаш. Казахстан', 48.577371, 57.485177, 12, '1'],
        ['Анализ инвестиционной привлекательности строительства угольного портового терминала Совгавань. Россия, Дальневосточный округ', 48.966453, 140.247600, 11, '2'],
        ['Аудит персонала, программа запуска Лермонтовского ГМЗ, контроль и сопровождение запуска завода. Россия, Ставропольский край', 44.113109, 42.944355, 10, '3'],
        ['Аудит изысканий по автомобильной дороге к месторождению Ак-Суг. Россия, Тыва', 51.413344, 91.269538, 10, '4'],
        ['Разработка ПреТЭО освоения месторождения медно-никелевых руд Кингаш. Россия, Красноярский край', 54.943069, 95.253210, 10, '5'],
        ['ТЭО кондиций / изменение границ отработки ОГР участка угля Долгучан. Россия, Нерюнгри', 56.860711, 124.894680, 10, '6'],
        ['Выбор оптимальной схемы переработки угля разреза Корчакольский. Кемеровская обл.', 53.513792, 87.216895, 12, '7'],
        ['ТЭО строительства цеха по производству мягкой тары для продукции. Россия, Калининград', 54.724928, 20.470758, 11, '8'],
        ['QA/QC - сопровождение и контроль изысканий, включая геодезию, ГРР, экологию при проектировании ГОКа. Россия, Тыва', 51.077649, 91.241785, 10, '9'],
        ['Разработка Концепции развития Сырадасайского угольного месторождения, включая сопровождение заверочного бурения. Россия, Таймыр', 74.459781, 102.537817, 10, '10'],
        ['Scoping Study вариантов развития месторождений/предприятий центрального рудного узла "Золото камчатки". Россия, Камчатский край', 53.049014, 158.590984, 10, '11'],
        ['Оценка ресурсов и запасов угледобывающих предприятий согласно требованиям Кодекса JORC 2012. Россия, Кемеровская обл.', 55.353216, 86.064617, 10, '12'],
        ['Проведение обучающих семинаров по вопросам развития месторождений и оценки горнодобывающих проектов. Казахстан', 51.170238, 71.412129, 12, '13'],
        ['Подготовка заключения по основным геологическим и производственным рискам крупной золотодобывающей компании. Россия, Амурская область', 50.290648, 127.527215, 11, '14'],
        ['Due Diligence программы развития рудника. Россия, Камчатский край', 68.967475, 33.072059, 10, '15'],
        ['Подготовка заключения о технической состоятельности проекта строительства горно-обогатительного комбината. Россия, Нерюнгри', 56.660136, 124.701706, 10, '16'],
        ['Проведение технического аудита юридического лица и месторождения олова "Сырымбет". Казахстан', 53.484250, 67.995158, 10, '17'],
        ['QA/QC геологоразведочных работ месторождения Аксоран', 48.423253, 75.470034, 10, '18'],
        ['Pre-Feasibility Study отработки Белбажского месторождения каменнных солей. Россия, Нижегородская область', 56.321359, 43.948588, 12, '19'],
        ['Проведение части технологическогго и ценового аудита инвестиционного проекта "Строительство объектов окончательной изоляции радиоактивных отходов". Россия, Красноярский край, Нижне-Канский массив', 56.250411, 93.516789, 11, '20'],
        ['Заключение о возможности сравнительной оценки "Северо-Красноборского" месторождения. Россия, Амурская обл.', 61.557797, 45.936070, 10, '21'],
        ['Разработка технико-экономических предложений по освоению участка Окинский-2 в Республике Бурятия. Россия, республика Бурятия', 51.817941, 107.576392, 10, '22'],
        ['Подготовка горно-технической части ТЭО проекта постоянных кондиций для подсчета запасов Смоловского участка Старобинского месторождения калийных солей, Республика Беларусь', 52.729675, 27.457719, 10, '23'],
        ['ТЭП Кавокта, нефрит. Россия, республика Бурятия', 55.846617, 113.189684, 10, '24'],
        ['Scoping Study угольного участка Устье Реки. Россия, Забайкальский край', 50.657566, 110.775700, 12, '25'],
        ['Заключение по Носачевскому апатит-ильменитовому месторождению. Украина, Черкасская область', 49.430198, 32.048542, 11, '26'],
        ['Заключение по угольному месторождению Аршановский. Россия, республика Хакасия', 53.715612, 91.425966, 10, '27'],
        ['Scoping Study освоения участка Западный. Россия, Новосибирская обл', 54.997440, 82.915830, 10, '28']
        ];

        let icon1 = 'img/logos/map_dot.png';
        let icon2 = 'img/logos/map_dot-active.png';
        let markers = [];
        let tableRows = document.getElementsByClassName('table__row--item');

        // Toggle active object on marker click
        function toggleActive(id) {

            Array.prototype.forEach.call(tableRows, function(el) {
                el.classList[el.id == id ? 'add' : 'remove']('table__row--active');
            
            });

        };
        

        // Custom GMap markers
        function setMarkers(map, locations) {

            for (let i = 0; i < locations.length; i++) {
                let place = locations[i];
                let myLatLng = new google.maps.LatLng(place[1], place[2]);
                let marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        icon: icon1,
                        title: place[0],
                        zIndex: place[3],
                        id: place[4],
                        url: "/experience.html#" + place[4]
                    });

              
                google.maps.event.addListener(marker, 'click', function() {
                    window.location.href = this.url;
                    toggleActive(this.id);
                });
                google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
                    return function(evt) {
                        marker.setIcon(icon2);
                    }
                })(marker, i));
                markers.push(marker); // Save changed markers

                google.maps.event.addListener(marker, 'mouseout', (function(marker) {
                    return function(evt) {
                        marker.setIcon(icon1);
                        }
                })(marker));

                }
            }


            // Google maps initialisation script
            function initMap() {
              let myOptions = {
                center: new google.maps.LatLng(55.000596, 82.913090),
                zoom: 3,
                mapTypeId: 'roadmap',
                disableDefaultUI: true,
                zoomControl: true,
                zoomControlOptions: {
                       position: google.maps.ControlPosition.RIGHT_TOP
                   },
                styles: [
                  {
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#f5f5f5"
                    }
                  ]
                  },
                  {
                  "elementType": "labels.icon",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                  },
                  {
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#616161"
                    }
                  ]
                  },
                  {
                  "elementType": "labels.text.stroke",
                  "stylers": [
                    {
                      "color": "#f5f5f5"
                    }
                  ]
                  },
                  {
                  "featureType": "administrative.land_parcel",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#bdbdbd"
                    }
                  ]
                  },
                  {
                  "featureType": "landscape",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#c0c0c0"
                    },
                    {
                      "visibility": "on"
                    }
                  ]
                  },
                  {
                  "featureType": "landscape.man_made",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#c0c0c0"
                    },
                    {
                      "saturation": -5
                    },
                    {
                      "lightness": -45
                    },
                    {
                      "visibility": "on"
                    },
                    {
                      "weight": 8
                    }
                  ]
                  },
                  {
                  "featureType": "landscape.natural",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#c0c0c0"
                    },
                    {
                      "visibility": "on"
                    }
                  ]
                  },
                  {
                  "featureType": "poi",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#eeeeee"
                    }
                  ]
                  },
                  {
                  "featureType": "poi",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#757575"
                    }
                  ]
                  },
                  {
                  "featureType": "poi.business",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                  },
                  {
                  "featureType": "poi.park",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#e5e5e5"
                    }
                  ]
                  },
                  {
                  "featureType": "poi.park",
                  "elementType": "labels.text",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                  },
                  {
                  "featureType": "poi.park",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#9e9e9e"
                    }
                  ]
                  },
                  {
                  "featureType": "road",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#ffffff"
                    }
                  ]
                  },
                  {
                  "featureType": "road.arterial",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#757575"
                    }
                  ]
                  },
                  {
                  "featureType": "road.highway",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#dadada"
                    }
                  ]
                  },
                  {
                  "featureType": "road.highway",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#616161"
                    }
                  ]
                  },
                  {
                  "featureType": "road.local",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#9e9e9e"
                    }
                  ]
                  },
                  {
                  "featureType": "transit.line",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#e5e5e5"
                    }
                  ]
                  },
                  {
                  "featureType": "transit.station",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#eeeeee"
                    }
                  ]
                  },
                  {
                  "featureType": "water",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#c9c9c9"
                    }
                  ]
                  },
                  {
                  "featureType": "water",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#9e9e9e"
                    }
                  ]
                  }
                  ]
              };
            let map = new google.maps.Map(document.getElementById("experienceMap"),myOptions);
            setMarkers(map, points);
        };




        
            
          
    