extends ../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        span Услуги
            section.main__description
                h1.main__title--h1  Услуги
                p.main__text GMC оказывает широкий спектр консалтинговых услуг как для действующих горнодобывающих предприятий и промышленных производств, так и для развития новых проектов. Мы являемся специалистами в области геологии, технологии добычи полезных ископаемых, процессов обогащения и переработки, инфраструктурных проектов, экономико-математического моделирования и оптимизации горных работ, социально-экономического анализа.
                section.main__page.page__services-page
                    .services-page__wrapper
                        ul.services-page__list
                            li.services-page__item
                                a.services-page__link(href="/services/audit.html") Горно-геологический аудит
                            li.services-page__item
                                a.services-page__link(href="/services/consulting.html") Инженерно-технический консалтинг
                            li.services-page__item
                                a.services-page__link(href="/services/engineering.html") Инженерное проектирование
                            li.services-page__item
                                a.services-page__link(href="/services/modelling.html") Моделирование
                            li.services-page__item
                                a.services-page__link(href="/services/research.html") Сопровождение исследований
                            li.services-page__item
                                a.services-page__link(href="/services/refining.html") Переработка полезных ископаемых
                            li.services-page__item
                                a.services-page__link(href="/services/investing.html") Инвестиционный анализ
                            li.services-page__item
                                a.services-page__link(href="/services/ecology.html") Экологические и социальные аспекты
                            li.services-page__item
                                a.services-page__link(href="/services/planing.html") Планирование инфраструктуры производства
        