*
	padding: 0
	margin: 0
	box-sizing: border-box
	font-family: 'Open Sans', Arial, sans-serif
	outline: none

html
  height: 100%
  position: relative
  scroll-behavior: smooth

body
	overflow-x: hidden
  position: relative
  height: 100%

.visuallyhidden 
  transition: all 0.5s
  position: absolute

  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0

  clip: rect(0 0 0 0)
  overflow: hidden

.clearfix::after 
  content: ""
  display: block
  height: 0
  clear: both
  visibility: hidden

