extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/experience.html') Опыт работы
                    li.breadcrumbs__item
                        span Оптимизация ОГР
            section.main__description
                h1.main__title--h1  Оптимизация открытых горных работ
                p.main__text Разработка и прорисовка планов открытых горных работ в современном программном обеспечении (Mircomine, NPV Scheduler Datamine, Whittle Surpac), оптимизации и разработка календарного плана отработки. Кроме того, оценка рудных запасов по фактору NSR (условная ценность руды).
            section.main__page.page__lightbox
                .lightbox__wrapper
                    .lightbox__item
                        img(src="img/exp/exp-ogr/exp-ogr-1.png" id="expogr1" alt="Месторождение Ак-Суг" ).lightbox__image
    .lightbox__modal#lb_modal
        span.lightbox__close &times;
        img.lightbox__content#lb__img01
        .lightbox__caption#lb__caption
        