extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/experience.html') Опыт работы
                    li.breadcrumbs__item
                        span Переработка ТПИ
            section.main__description
                h1.main__title--h1  Проверка технологических схем переработки
                p.main__text Разработка / проверка технологических схем переработки, до получения конечного продукта, включая варианты рудоподготовки, предварительной сепарации, различные методы обогащения, металлургию и др. Сопровождение технологических исследований.
            section.main__page.page__lightbox
                .lightbox__wrapper
                    .lightbox__item
                        img(src="img/exp/exp-tpi/exp-tpi-1.jpg" id="expogr1" alt="" ).lightbox__image
                    .lightbox__item
                        img(src="img/exp/exp-tpi/exp-tpi-3.jpg" id="expogr2" alt="" ).lightbox__image
                    .lightbox__item
                        img(src="img/exp/exp-tpi/exp-tpi-5.jpg" id="expogr3" alt="" ).lightbox__image
                    .lightbox__item
                        img(src="img/exp/exp-tpi/exp-tpi-6.jpg" id="expogr4" alt="" ).lightbox__image
    .lightbox__modal#lb_modal
        span.lightbox__close &times;
        img.lightbox__content#lb__img01
        .lightbox__caption#lb__caption
                
                    
                