extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/experience.html')  Опыт работы
                    li.breadcrumbs__item
                        span Сопровождение ГРР / Изысканий
            section.main__description
                h1.main__title--h1  Сопровождение ГРР / Изысканий
                p.main__text Разработка и оптимизация программы ГРР для конкретных месторождений. Разработка регламента ведения и сопровождения ГРР. Выезд на объект и надзор за физическими исследованиями и качеством документации. Возможна разработка 3D моделей и оценка ресурсов месторождений согласно требованиям JORC.
            section.main__page.page__lightbox
                .lightbox__wrapper
                    .lightbox__item
                        img(src="img/exp/exp-grr/exp-grr-1.jpg" id="expogr1" alt="Полевые работы" ).lightbox__image

    .lightbox__modal#lb_modal
        span.lightbox__close &times;
        img.lightbox__content#lb__img01
        .lightbox__caption#lb__caption
                
                    
                