extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/experience.html')  Опыт работы
                    li.breadcrumbs__item
                        span ЦПТ / Конвеерные системы
            section.main__description
                h1.main__title--h1  ЦПТ / Конвеерные системы
                p.main__text Решение вопросов инфраструктуры и доставки руды. Оптимизация транспортных потоков. Сравнение различных технологий и обоснование наиболее эффективных решений.
                    section.main__page.page__lightbox
                        .lightbox__wrapper
                            .lightbox__item
                                img(src="img/exp/exp-cpt/exp-cpt-1.jpg" id="expogr1" alt="" ).lightbox__image
                            .lightbox__item
                                img(src="img/exp/exp-cpt/exp-cpt-2.jpg" id="expogr2" alt="" ).lightbox__image
                            .lightbox__item
                                img(src="img/exp/exp-cpt/exp-cpt-3.jpg" id="expogr3" alt="" ).lightbox__image
                            .lightbox__item
                                img(src="img/exp/exp-cpt/exp-cpt-4.jpg" id="expogr4" alt="" ).lightbox__image
                            .lightbox__item
                                img(src="img/exp/exp-cpt/exp-cpt-5.jpg" id="expogr5" alt="" ).lightbox__image
            .lightbox__modal#lb_modal
                span.lightbox__close &times;
                img.lightbox__content#lb__img01
                .lightbox__caption#lb__caption


                
        