extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/experience.html')  Опыт работы
                    li.breadcrumbs__item
                        span Геомеханическое моделирование
            section.main__description
                h1.main__title--h1  Геомеханическое моделирование
                p.main__text С помощью современного программного обеспечение (например, Gedru, FLAG) планирование параметров горных работ, параметров закладки, крепления, разгрузочного бурения, проседание земной поверхности, районирование и углы откосов бортов и др.
            section.main__page.page__lightbox
                .lightbox__wrapper
                    .lightbox__item
                        img(src="img/exp/exp-geomech/exp-geomech-1.png" id="expgeomech1" alt="Геотехническое моделирование 1" ).lightbox__image
                    .lightbox__item
                        img(src="img/exp/exp-geomech/exp-geomech-2.png" id="expgeomech2" alt="Геотехническое моделирование 2" ).lightbox__image
                    .lightbox__item
                        img(src="img/exp/exp-geomech/exp-geomech-3.png" id="expgeomech1" alt="Геотехническое моделирование 3" ).lightbox__image
                    .lightbox__item
                        img(src="img/exp/exp-geomech/exp-geomech-4.png" id="expgeomech2" alt="Геотехническое моделирование 4" ).lightbox__image
                    .lightbox__item
                        img(src="img/exp/exp-geomech/exp-geomech-5.png" id="expgeomech1" alt="Оценка рисков опасных геопроцессов" ).lightbox__image
                    .lightbox__item
                        img(src="img/exp/exp-geomech/exp-geomech-6.png" id="expgeomech2" alt="НДС массива" ).lightbox__image
                    .lightbox__item
                        img(src="img/exp/exp-geomech/exp-geomech-7.png" id="expgeomech1" alt="Отработка камер" ).lightbox__image
                    .lightbox__item
                        img(src="img/exp/exp-geomech/exp-geomech-8.png" id="expgeomech2" alt="Параметры закладки" ).lightbox__image
                    .lightbox__item
                        img(src="img/exp/exp-geomech/exp-geomech-9.png" id="expgeomech1" alt="Анализ рисков" ).lightbox__image
                    .lightbox__item
                        img(src="img/exp/exp-geomech/exp-geomech-10.png" id="expgeomech2" alt="Проседание поверхности" ).lightbox__image                  

                   

    .lightbox__modal#lb_modal
        span.lightbox__close &times;
        img.lightbox__content#lb__img01
        .lightbox__caption#lb__caption
                
                    