extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-optpgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/experience.html')  Опыт работы
                    li.breadcrumbs__item
                        span Оптимизация подземных горных работ
            section.main__description
                h1.main__title--h1  Оптимизация <br> подземных горных работ
                p.main__text Решение вопросов инфраструктуры и доставки руды. Оптимизация транспортных потоков. Сравнение различных технологий и обоснование наиболее эффективных решений.
                section.main__page.page__lightbox
                    .lightbox__wrapper
                        .lightbox__item
                            img(src="img/exp/exp-pgr/exp-pgr-1.png" alt="Планирование подземных горных работ 1" ).lightbox__image
                        .lightbox__item
                            img(src="img/exp/exp-pgr/exp-pgr-2.png" alt="Планирование подземных горных работ 2" ).lightbox__image
                        .lightbox__item
                            img(src="img/exp/exp-pgr/exp-pgr-3.png" alt="Планирование подземных горных работ 3" ).lightbox__image
                        .lightbox__item
                            img(src="img/exp/exp-pgr/exp-pgr-4.png" alt="Оценка рисков опасных геопроцессов. Построение модели" ).lightbox__image
        .lightbox__modal#lb_modal
            span.lightbox__close &times;
            img.lightbox__content#lb__img01
            .lightbox__caption#lb__caption