footer.footer(style='margin-top: auto;')
    .footer__wrapper
        .footer__copyright
            p Все права защищены "GMC" 2019
        .footer__partners
            p.partners__text Наши партнеры:
            div.partners__list
                a.partners__item.partner_one(href="http://giprocm.ru/" target="_blank")
                a.partners__item.partner_two(href="http://www.gluckauf.ru/" target="_blank")
                a.partners__item.partner_three(href="http://vnedra.ru/ariv-globus/" target="_blank")
        .footer__madeby
            a.madeby__link(href='http://5th.ru/')
                img(src='img/5th.png' alt='Пятое измерение' width='33' height='40')
                p.madeby__text
                    | Создание сайта
                    br
                    |  "Пятое измерение" 2019
