header.header
    #header__menu.header__menu.menu__wrapper.header__menu--closed
        a(href='/index.html').menu__logo            
            .logo__image
                img(src='img/logos/header-logo-clean.svg' class='logo__img' alt='')
            span.logo__text Geological<br> Mining Consulting
        .menu__mobile
            #menu__nav.menu__nav
                ul.nav__list
                    li.nav__item.nav__item--about.nav__dropdown.main-item
                        button.nav__link.nav__dropdown--open Компания
                        .nav__submenu
                            ul.submenu__list
                                li.submenu__item
                                    .submenu__content
                                        h3.submenu__title Компания
                                        ul.submenu__link-list.submenu__link-list--single
                                            li.link-list__item
                                                a(href='/about.html') О компании
                                            li.link-list__item
                                                a(href='/team.html') Наша команда
                                            li.link-list__item
                                                a(href='/jobs.html') Вакансии

                    ul.submenu__mobile
                        li.mobile__item
                            a(href="/about.html").mobile__link О компании
                        li.mobile__item
                            a(href="/team.html").mobile__link Наша команда
                        li.mobile__item
                            a(href="jobs.html").mobile__link Вакансии
                    li.nav__item.nav__dropdown
                        a.nav__link.nav__link--dropdown.nav__dropdown--open(href='/services.html') Услуги
                        .nav__submenu
                            ul.submenu__list
                                li.submenu__item
                                    .submenu__content
                                        h3.submenu__title Услуги
                                        ul.submenu__link-list
                                            li.link-list__item
                                                a(href='services/audit.html') Геологический аудит
                                            li.link-list__item
                                                a(href='services/consulting.html') Инженерно-технический консалтинг
                                            li.link-list__item
                                                a(href='services/engineering.html') Инженерное проектирование
                                            li.link-list__item
                                                a(href='services/modelling.html') Моделирование
                                            li.link-list__item
                                                a(href='services/research.html') Сопровождение исследований
                                            li.link-list__item
                                                a(href='services/refining.html') Переработка полезных ископаемых
                                            li.link-list__item
                                                a(href='services/investing.html') Инвестиционный анализ
                                            li.link-list__item
                                                a(href='services/ecology.html') Экологические и социальные аспекты
                                            li.link-list__item
                    li.nav__item
                        a.nav__link(href='/experience.html ') Опыт работы
                    li.nav__item
                        a.nav__link(href='/documents.html') Документы
                    li.nav__item
                        a.nav__link(href='/contacts.html') Контакты
            #menu__user.menu__user
                ul.user
                    li.user__item.user__item--phone
                        a.user__link(href='tel:+74993901214') +7 (499) 390-1214
                    li.user__item.user__item--mail
                        a.user__link(onclick="document.getElementById('popup').style.display='block'")
                            span.user__item--text Связаться с нами
                            span.fas.fa-envelope-open
                    li.user__item.user__item--lang
                        select#lang.user__select(name='language')
                            option(value='ru') ru
                            option(value='eng') eng
        .blocker
        .menu__phone--mobile
            a(href='tel:+74993901214')
                span +7 (499) 390-1214
        #open-menu.menu__burger
            .burger__icon




