block popup
    #popup.main__modal
        form.feedback(action='mailto:consulting@gmc-consulting.ru')
            .feedback__wrapper
                h2 &KHcy;&ocy;&tcy;&icy;&tcy;&iecy; &zcy;&acy;&dcy;&acy;&tcy;&softcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;?
                input.feedback__name(type='text' s='' placeholder='Ваше имя' name='name' required='')
                input.feedback__email(type='email' placeholder='Ваш Email' name='email' required='')
                textarea.feedback__text(placeholder='Ваше сообщение' name='descr' rows='4' required='')
                button.form__submit(type='submit') &Ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy;
                p
                    | &Ncy;&acy;&zhcy;&icy;&mcy;&acy;&yacy; &kcy;&ncy;&ocy;&pcy;&kcy;&ucy; &quot;&Ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy;&quot; &vcy;&ycy; &dcy;&acy;&iecy;&tcy;&iecy; &scy;&ocy;&gcy;&lcy;&acy;&scy;&icy;&iecy; &ncy;&acy; &ocy;&bcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&ucy; &vcy;&acy;&shcy;&icy;&khcy; &lcy;&icy;&chcy;&ncy;&ycy;&khcy; &dcy;&acy;&ncy;&ycy;&khcy; &vcy; &scy;&ocy;&ocy;&tcy;&vcy;&iecy;&tcy;&scy;&tcy;&vcy;&icy;&icy; &scy; &Fcy;&Zcy; &Rcy;&Fcy; &ocy;&tcy; 27.07.2006 &gcy;&ocy;&dcy;&acy; &numero; 152-&Fcy;&Zcy; &laquo;&Ocy; &pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &dcy;&acy;&ncy;&ncy;&ycy;&khcy;&raquo;
                button.feedback__close(type='button' onclick="document.getElementById('popup').style.display='none'")
                    span.fas.fa-times
