.about__content
	margin-bottom: 5%

.about__text
	padding: 0 20% 2% 10% 
	color: #2b303a
	font-size: 17px
	line-height: 24px
	text-align: justify
	@media(max-width: 480px)
		padding: 0 0 25px
		font-size: 14px
		line-height: 22px
	@media(max-width: $screen-sm)
		padding: 0
	@media(max-width: $screen-xl)
		padding: 0 5% 2% 


.a-features__list
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	width: 100% 
	height: 100%
	min-height: 300px
	@media(max-width: $screen-sm)
		flex-flow: column
		padding: 0 5%

.a-features__item
	flex: 1
	
	min-height: 100%
	margin-bottom: 50px
	list-style: none

	&:not(:last-of-type)
		margin-right: 40px

	p
	font-size: 16px
	line-height: 30px
	@media(max-width: $screen-sm)
		width: 60%s
	@media(max-width: 480px)
		font-size: 14px
		line-height: 24px


.a-features__icon
	width: 75px
	height: 75px
	margin-bottom: 25px

	&--adress
		background-image: url('/img/icons/adress.png')
		background-position: center center
		background-repeat: no-repeat
		background-size: contain

	&--pass
		background-image: url('/img/icons/vip.png')
		background-position: center center
		background-repeat: no-repeat
		background-size: contain

	&--network
		background-image: url('/img/icons/network.png')
		background-position: center center
		background-repeat: no-repeat
		background-size: contain

.about__certs
	padding: 0 20% 5% 10%
	@media(max-width: 480px)
		padding: 0 0 5%

	h2
		padding-top: 50px
		font-size: 48px
		line-height: 60px
		font-weight: bold
		margin-bottom: 45px
		@media(max-width: 480px)
			font-size: 28px
			line-height: 32px

.certs__list
	display: flex
	list-style: none
	flex-wrap: wrap
	@media(max-width: 480px)
		flex-flow: column


.certs__item:not(:last-of-type)
	margin-right: 35px
	margin-bottom: 20px

.about__downloads
	padding: 0 20% 0 10% 
	@media(max-width: 480px)
		padding: 5% 0

.downloads__list
	display: flex
	justify-content: flex-start
	align-items: flex-start
	min-height: 44px
	width: 100%
	list-style: none
	@media(max-width: 480px)
		flex-flow: column
	

.downloads__item
	display: flex
	flex-grow: 1
	align-items: center
	justify-content: flex-start
	padding-left: 50px
	@media(max-width: 480px)
		width: 100%
		margin: 15px 0 15px 15px


.downloads__item a
	text-decoration: none
	color: #000


.downloads__link
	position: relative
	margin-right: 35px
	border-bottom: 1px solid gray
	&:hover
		border-bottom: none
	&:active
		color: #0080cb
	&:before
		position: absolute
		top: 0
		left: -50px
		content: ''
		background: url(/img/icons/pdf-black.png) center center no-repeat
		background-size: contain
		width: 40px
		height: 49px



