.business__description
	padding: 0 20% 5% 10% 
	color: #2b303a

	h1
		font-size: 75px
		line-height: 90px
		font-weight: bold
		padding: 5% 10%
		
	p
		font-size: 24px
		line-height: 36px

	@media(max-width: 1380px)
		h1
			font-size: 62px
			line-height: 72px

.business__content
	padding: 0 20% 5% 10% 
	color: #2b303a
	h4
		font-size: 24px
		font-weight: bold
		margin-bottom: 25px

	p
		font-size: 16px
		line-height: 30px

.business__list
	display: flex
	flex-flow: column
	flex-wrap: wrap
	max-height: 300px
	margin: 40px 0
	list-style: none	

.business__item
	position: relative
	width: 40%
	padding-left: 30px
	margin-bottom: 25px
	word-wrap: break-word
	&:after
		position: absolute
		top: -5px
		left: 0
		content: '—'
		font-size: 20px



