.columns__wrapper
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	margin-bottom: 5%
	color: $text-color
	@media(max-width: $screen-sm)
		flex-flow: column
		margin-bottom: 0

.columns__item
	width: 32%
	font-size: 16px
	line-height: 30px
	 
	&:not(:last-of-type)
		margin-right: 2%
	@media(max-width: $screen-sm)
		width: 100%
		margin-bottom: 10%
		font-size: 14px
		line-height: 24px


.column__title
	margin-bottom: 35px
	font-size: 24px
	line-height: 36px
	@media(max-width: $screen-sm)
		margin-bottom: 15px