// .documents__content
// 	border: 1px solid red
// .documents__filter
// 	border: 1px solid green
// .documents__filter button
// 	border: 1px solid blue
// .documents__results
// 	border: 1px solid pink
// .documents__block
// 	border: 1px solid yellow
// .block__wrapper
// 	border: 1px solid black
// .documents__item
// 	border: 1px solid orange

.documents__filter
	width: 100vw
	padding: 0 0 0 17%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	button
		padding: 15px 20px
		background-color: #fff
		border: none
		&:hover
			background-color: $second-color
			color: #fff
			span
				border: none
		@media(max-width: 1024px)
			width: auto
		@media(max-width: 768px)
			width: 40%
		@media(max-width: 480px)
			width: 100%
			text-align: left
	span
		border-bottom: 1px dashed #000
	@media(max-width: 1450px)
		padding: 0 15%
	@media(max-width: $screen-sm)
		padding: 0 5%

.documents__results
	padding: 50px 150px
	background-color: #4d5462
	color: #fff
	a
		color: #fff
	@media(max-width: 480px)
		padding: 0 5%
	@media(max-width: $screen-sm)
		padding: 50px
	@media(min-width: $screen-sm) and (max-width: $screen-lg)
		padding: 50px

.content__documents .block__header
	padding: 25px 140px
	font-size: 36px
	line-height: 48px
	@media(max-width: 1450px)
		padding: 25px

.block__wrapper
	width: 100%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap

.block__header
	font-size: 36px
	line-height: 48px
	margin: 25px 12%

.documents__item
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-flow: column
	justify-content: space-between
	width: 26%
	padding: 50px 35px
	&:hover
		background-color: $second-color
	@media(max-width: 1450px)
		width: 25%
	@media(max-width: 1024px)
		width: 34%
	@media(max-width: 768px)
		width: 50%
	@media(max-width: 480px)
		width: 100%

	.item__title,
	.item__header
		margin-bottom: 25px
		a
			text-decoration: none
			border-bottom: 1px dashed #fff
			&:hover
				color: rgba(255, 255, 255, 0.7)
				border-bottom: 1px dashed rgba(255, 255, 255, 0.7)
