.experience__content
	padding: 0 10% 5%
	color: $text-color
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		padding: 0
	@media(max-width: $screen-sm)
		padding: 0
		padding-bottom: 10%
		font-size: 14px
		line-height: 18px
	@media(max-width: 480px)
		padding: 0
		padding-bottom: 10%
		font-size: 14px
		line-height: 18px

.experience__map
	width: 100%
	height: 660px
	@media(max-width: $screen-sm)
		height: 400px
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		height: 500px


.experience__text	
	font-size: 16px
	line-height: 30px
	color: $text-color
	@media(max-width: $screen-sm)

		font-size: 14px
		line-height: 22px
	@media(max-width: 480px)
		font-size: 14px
		line-height: 22px
	&:not(:last-of-type)
		margin-bottom: 45px

.experience__table
	position: relative