.features__title
	z-index: 1
	position: absolute
	top: 12.5%
	left: 18.1%

	max-width: 33%

	font-size: 65px
	line-height: 75px
	font-weight: bold

	@media(max-width: $screen-sm)
		font-size: 24px
		line-height: 30px
		top: 55px
		left: 30px

	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		font-size: 36px
		line-height: 42px
		top: 55px
		left: 150px

.f-slider
	position: relative
	width: 100%
	height: 100%
	padding: 0 15.55% 0 9.5%
	display: block
	@media(max-width: $screen-sm)
		padding: 0
		width: 80%
		.slick-list
			height: 100%
			overflow: inherit
	.slick-list,
	.slick-track
		height: 100%

.f-slider__text--link
	text-decoration: none
	color: $text-color
	border-bottom: 1px solid $border-color
	&:hover
		color: $link-hover
		border: none
	&:active
		color: $link-active



.f-slider__wrapper
	width: 100%
	height: 100%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: flex-start
	align-items: flex-start

	background-color: #fff

.features__slider .f-slider__slide
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-flow: column
	justify-content: flex-start
	align-items: flex-start

	width: 100%
	height: 100%	
	padding: 80% 45px

	background-color: #fff

	border-left: 1px solid #d6d6d6
	border-right: 1px solid #d6d6d6

	font-size: 16px
	line-height: 30px
	@media(max-width: $screen-sm)
		width: 100%
		padding: 145px 30px 0 30px
		font-size: 14px
		line-height: 22px
	@media(min-width: $screen-sm) and (max-width: $screen-lg)
		padding: 205px 30px 0 20px
	@media(min-width: $screen-lg + 1) and (max-width: 1560px)
		padding: 365px 30px 0 50px

	&:not(:first-of-type)
		margin-left: -1px

	img 		
		width: 65px
		height: 65px
		margin-bottom: 25px
	p
		width: 98%

//* BEGIN SLIDER STYLES *//

.f-slider .slick-prev,
.f-slider .slick-next
    z-index: 300
    font-size: 0
    line-height: 0

    position: absolute
    top: 50%

    display: block
    height: 100%
    padding: 0
    -webkit-transform: translate(0, -50%)
    -ms-transform: translate(0, -50%)
    transform: translate(0, -50%)

    cursor: pointer

    color: #fff
    outline: none
    background-color: #fff

.f-slider .slick-prev:hover,
.f-slider .slick-next:hover
    background: #0080cb


.f-slider .slick-prev:hover:before
	content: url(../img/icons/arrow-prev.png)
	position: absolute 
    top: 45.3%
    left: 44.4%


.f-slider .slick-next:hover:before
	content: url(../img/icons/arrow-next.png)

.f-slider .slick-prev
	left: 0
	width: 9.6%
	border-right: 1px solid #d6d6d6
	@media(max-width: 1380px)
		width: 9.6%

.f-slider .slick-prev:before
	content: url(../img/icons/arrow-prev-gray.png)
	position: absolute
	top: 45.3%
	left: 44.4%

.f-slider .slick-next
	right: 0
	width: 16%
	border-left: 1px solid #d6d6d6
		
.f-slider .slick-next:before
	content: url(../img/icons/arrow-next-gray.png)
	position: absolute
	z-index: 5
	right: 76%
	top: 47.5%
	transform: translateY(-50%)

/* Dots */
.f-slider .slick-dotted.slick-slider
    margin-bottom: 0px

.f-slider .slick-dots
	position: absolute
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: nowrap
	justify-content: flex-start

	width: 100%
	padding: 0
	margin: 0
	bottom: 27%
	left: 22%
	list-style: none
	text-align: left
	@media(max-width: $screen-sm)
		width: 70%
		bottom: 30px
		left: 30px
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		bottom: 225px
		left: 100px

.f-slider .slick-dots li
	position: relative
	width: 175px
	height: 5px
	margin: 0 1px
	padding: 0
	background-color: #bdbdbd
	cursor: pointer
	@media(max-width: $screen-sm)
		max-width: 40px
		height: 5px
		margin: 1px
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		width: 75px
		height: 5px

.f-slider .slick-dots li button
	display: block
	width: 20px
	height: 20px
	padding: 1px
	cursor: pointer
	font-size: 0
	line-height: 0
	color: transparent
	border: 0
	outline: none
	background: transparent


.f-slider .slick-dots li.slick-active 
    opacity: 1
    background-color: #0080cb