.h-slider
    height: 725px
    width: 100%
    color: #fff
    @media(msx-width: $screen-sm)
        height: 425px
    @media(min-width: $screen-sm + 1)
        height: 625px
    @media(min-width: $screen-xl)
        height: 725px


.h-slider .slick-prev,
.h-slider .slick-next
    font-size: 0
    line-height: 0
    z-index: 1
    height: 100%

    position: absolute
    top: 50%

    display: block

    width: 24px
    height: 44px
    padding: 0
    -webkit-transform: translate(0, -50%)
    -ms-transform: translate(0, -50%)
    transform: translate(0, -50%)

    cursor: pointer

    color: #fff
    border: none
    outline: none
    background: transparent

.h-slider .slick-prev:hover,
.h-slider .slick-prev:focus,
.h-slider .slick-next:hover,
.h-slider .slick-next:focus

    color: #fff
    outline: none
    background: transparent

.h-slider .slick-prev:hover:before,
.h-slider .slick-prev:focus:before,
.h-slider .slick-next:hover:before,
.h-slider .slick-next:focus:before

    opacity: 1

.h-slider .slick-prev.slick-disabled:before,
.h-slider .slick-next.slick-disabled:before

    opacity: 1


.h-slider .slick-prev:before,
.h-slider .slick-next:before
    font-size: 24px
    line-height: 1


    opacity: 1
    color: white

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale


.h-slider .slick-prev
    left: 72px

.h-slider .slick-prev:before
    content: url(../img/icons/arrow-prev.png)

.h-slider .slick-next
    right: 72px

.h-slider .slick-next:before
    content: url(../img/icons/arrow-next.png)

/* Dots */
.slick-dotted.slick-slider

    margin-bottom: 0px


.slick-dots
    position: absolute
    bottom: 200px
    left: -18%

    display: block

    width: 100%
    padding: 0
    margin: 0

    list-style: none

    text-align: center
    @media(min-width: 481px) and (max-width: 890px)
        bottom: 25%
    @media(min-width: 1281px)
        bottom: 30%
    @media(min-width: $screen-xl)
        bottom: 25%



.slick-dots li
    position: relative
    display: inline-block
    width: 175px
    height: 5px
    margin: 0 1px
    padding: 0
    background-color: #fff
    cursor: pointer

.slick-dots li button

    font-size: 0
    line-height: 0

    display: block

    width: 20px
    height: 20px
    padding: 1px

    cursor: pointer

    color: transparent
    border: 0
    outline: none
    background: transparent 


.slick-dots li.slick-active 

    opacity: 1
    background-color: #0080cb

.h-slider__slide 
	width: 100%
	height: 100%
	position: relative
	background-repeat: no-repeat
	background-position: 50% 50%
	background-size: cover
	&--first
		background: url(../../img/1600w/hero-1-1600w.jpg)
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
	&--second
		background: url(../../img/1600w/hero-2-1600w.jpg)
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
	&--third
		background: url(../../img/1600w/hero-3-1600w.jpg)
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
	@media(max-width: $screen-md)
		&--first
			background: url(../../img/1000w/hero-1-1000w.jpg)
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: cover
		&--second
			background: url(../../img/1000w/hero-2-1000w.jpg)
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: cover
		&--third
			background: url(../../img/1000w/hero-3-1000w.jpg)
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: cover

.h-slider div 
	width: 100%
	height: 100%

.h-slider__wrapper
	position: absolute
	top: 16%
	left: 18%
	max-width: 70%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: flex-start

.h-slider__title
    font-size: 75px
    font-weight: bold
    line-height: 90px
    max-width: 75%
    @media(min-width: 1561px)
        max-width: 60%
        font-size: 62px
        line-height: 78px
    @media(max-width: 1560px)
        max-width: 70%
        font-size: 52px
        line-height: 78px
    @media(max-width: 1280px)
        font-size: 52px
        line-height: 62px
        max-width: 75%
    @media(max-width: 1279px)
        font-size: 38px
        line-height: 52px
    @media(min-width: 481px) and (max-width: 890px)
        padding-top: 25px 
        font-size: 36px
        line-height: 42px
    @media(max-width: 480px)
        font-size: 28px
        line-height: 36px


.h-slider__slogan
    line-height: 45px
    margin-top: 15px
    font-size: 30px
    max-width: 25%
    @media(min-width: $screen-lg) and (max-width: 1780px)
        font-size: 22px
    @media(min-width: 481px) and (max-width: 890px)
        padding-top: 15px 

@media(max-width: $screen-sm)
    .h-slider
        height: 485px

    .h-slider__wrapper
        flex-flow: column-reverse
        top: 7%
        left: 7%
        max-width: 80%
        justify-content: flex-end
        align-items: flex-start

    .h-slider__slogan
        font-size: 18px
        line-height: 30px
        max-width: 70%
        margin-bottom: 10px

    .h-slider__title
        max-width: 90%
        hyphens: manual

    .slick-dots
        position: absolute
        bottom: 90px
        left: 5%
        display: block
        width: auto
        padding: 0
        margin: 0
        list-style: none
        text-align: center

    .slick-dots li
        position: relative
        display: inline-block
        width: 85px
        height: 5px
        margin: 0 1px
        padding: 0
        background-color: #fff
        cursor: pointer

    
    .h-slider .slick-prev,
    .h-slider .slick-next
        font-size: 0
        line-height: 0
        z-index: 1

        position: absolute
        top: 50%

        display: block

        width: 12px
        height: 21px
        padding: 0
        -webkit-transform: translate(0, -300%)
        -ms-transform: translate(0, -300%)
        transform: translate(0, -300%)

    .h-slider .slick-prev
        left: 5px

    .h-slider .slick-prev:before
        content: url(../img/icons/arrow-prev-small.png)

    .h-slider .slick-next
        right: 25px

    .h-slider .slick-next:before
        content: url(../img/icons/arrow-next-small.png)

@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
    .h-slider__wrapper
        top: 15%
        left: 13%

    .h-slider__slogan
        font-size: 18px
        line-height: 30px
        max-width: 25%
        margin-bottom: 10px
    
    .slick-dots
        position: absolute
        bottom: 30%
        left: -18%
        display: block
        width: 100%
        padding: 0
        margin: 0
        list-style: none
        text-align: center


    .slick-dots li
        position: relative
        display: inline-block
        width: 105px
        height: 5px
        margin: 0 1px
        padding: 0
        background-color: #fff
        cursor: pointer