// .main__columns
// 	border: 1px solid red

// .columns__wrapper
// 	border: 1px solid green

// .columns__item
// 	border: 1px solid blue


.main
	z-index: 0

.main__wrapper
	position: relative
	z-index: 1
	width: 100vw
	background: linear-gradient(to top, #2b303a, #2b303a 70%, #3b424f)
	pointer-events: none
	@media(min-width: $screen-xl)
	    min-height: 1700px

.main__hero
	position: relative
	z-index: 0

.main__services
	width: 80%
	height: 98%
	position: absolute
	z-index: 1
	@media(max-width: $screen-sm)
		width: 100%
		height: auto
	@media(min-width: $screen-sm + 1) and (max-width: 1760px)
		width: 95%
		height: 70%
		min-height: 1400px

.main__features
	position: relative
	z-index: 
	height: 1045px
	width: 100vw
	z-index: 0
	overflow: hidden
	h2,
	p
		color: #000
	@media(max-width: $screen-sm)
		max-height: 565px
	@media(min-width: $screen-sm) and (max-width: $screen-lg)
		max-height: 825px
	@media(min-width: $screen-lg + 1) and (max-width: 1560px)
		max-height: 1025px

.main__projects
	box-sizing: border-box
	width: 100%
	position: relative
	z-index: 0
	border: 1px solid transparent

.main__exp
	position: relative
	width: 100vw
	height: 410px
	background-color: #2b303a
	color: #fff
	z-index: 999
	@media(max-width: $screen-sm)
		min-height: 740px
	@media(min-width: $screen-lg)
		min-height: 510px


.main__docs
	position: relative
	z-index: 100
	width: 100vw
	background-color: #4d5462
	color: #fff
	overflow: hidden

.main__modal
	position: fixed
	top: 0
	left: 0
	z-index: 999999
	display: none
	width: 100vw
	height: 100vh
	background-color: rgba(0,0,0, 0.75)

.main__content
	background-color: #fff
	padding: 0 10% 5%
	pointer-events: all


.main__content--collapsable
	transition: max-height
	transition-duration: .3s
	max-height: 0
	overflow: hidden
	&-open
		transition: max-height
		transition-duration: .3s

.main__button
	border: none
	background-color: transparent
	font-size: 24px
	line-height: 36px
	border-bottom: 1px dashed $border-color
	margin-bottom: 25px


.main__description
	padding: 0 155px
	@media(max-width: $screen-lg)
		padding: 0 5%
	@media(max-width: $screen-sm)
		padding: 0

.main__title--h1
	font-size: 66px
	line-height: 82px
	margin: 30px 0
	color: #2b303a
	@media(min-width: $screen-lg + 1)
		font-size: 56px
		line-height: 72px
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		font-size: 48px
		line-height: 56px
	@media(min-width: 481px) and (max-width: $screen-sm)
		margin: 30px 0 0 0
		padding: 0px 5%
		font-size: 32px
		line-height: 48px
	@media(max-width: 480px)
		padding: 0
		font-size: 28px
		line-height: 36px

.main__text
	font-size: 24px
	line-height: 36px
	margin: 60px 0
	color: #2b303a
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		padding: 0px
	@media(max-width: $screen-sm)
		padding: 0px 5%
		margin: 30px 0
		font-size: 16px
		line-height: 24px
	@media(max-width: 480px)
		margin: 20px 0
		padding: 0
		font-size: 20px
		line-height: 28px

.main__table
	position: relative
	padding: 0 
	overflow-x: auto
	background-color: #fff
	@media(min-width: $screen-xl + 1)
		top: -225px
	@media(min-width: $screen-lg + 1) and (max-width: $screen-xl)
		padding: 0
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		padding: 0
		overflow-x: auto
	@media(max-width: $screen-sm)
		padding: 0
		overflow-x: auto
	@media(max-width: 480px)
		padding: 0px

.main__to-top
	display: none
	position: fixed
	z-index: 11
	top: 20%
	right: 4%
	border: none
	background-color: transparent
	font-size: 16px
	max-width: 90px
	&::before
		position: absolute
		content: ''
		top: -50%
		left: 50%
		transform: translate(-50%, 0) rotate(45deg)
		width: 20px
		height: 20px
		border-left: 5px solid #000
		border-top: 5px solid #000
		border-radius: 2px
	&:hover
		&::before
			color: $border-color
			border-left: 5px solid $border-color
			border-top: 5px solid $border-color
	&--absolute
		position: absolute
		display: block

	@media(max-width: 768px)
		background-color: $main-color
		color: #fff
		padding: 40px 15px 15px
		font-size: 12px
		top: 80%
		right: 10%
		border-radius: 50%
		&::before
			position: absolute
			content: ''
			top: 20%
			left: 50%
			transform: translate(-50%, 0) rotate(45deg)
			width: 20px
			height: 20px
			border-left: 5px solid #fff
			border-top: 5px solid #fff
			border-radius: 2px
		&:active,
		&:hover
			color: $link-active
			&::before				
				border-left: 5px solid $link-active
				border-top: 5px solid $link-active





