// Borders

// .services-page__wrapper
// 	border: 1px solid red
// .services-page__list
// 	border: 1px solid green
// .services-page__item
// 	border: 1px solid orange

// End of borders

.services-page__list
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	list-style: none

.services-page__item
	position: relative
	width: 45%
	margin: 8px 5% 8px 0
	padding-left: 35px
	font-size: 18px
	line-height: 24px
	font-weight: bold
	@media(max-width: $screen-sm)
		width: 100%
		font-size: 

.services-page__item:before
	position: absolute
	content: ''
	top: 12px
	left: 0
	width: 20px
	height: 1px
	background-color: $main-color

.services-page__link
	color: $main-color
	text-decoration: none
	border-bottom: 1px solid $border-color
	&:hover
		color: $link-hover
		border: none
	&:active
		color: $link-active
		border: none



