.services__list
	position: absolute
	pointer-events: none
	height: 100%
	width: 93%
	top: -130px
	left: 12%
	display: flex
	flex-flow: row
	flex-wrap: wrap
	justify-content: flex-start
	align-content: flex-start
	list-style: none
	@media(max-width: $screen-sm)
		width: 100%
		left: 0
		height: auto
		overflow-x: auto
		flex-wrap: nowrap
		top: -75px
		padding-right: 25px
		pointer-events: auto
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		width: 93%

	@media(min-width: $screen-lg + 1) and (max-width: 1760px)
		left: 9.5%
		width: 90%

.services__item
	position: relative
	pointer-events: all
	box-sizing: border-box
	border: 1px solid #000
	position: relative
	pointer-events: all
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-flow: column
	align-items: flex-start
	width: 33.3%
	height: 25.25%
	background-color: #fff
	margin: 0
	padding: 0
	overflow: hidden
	margin-left: -1px 
	margin-top: -1px
	@media(max-width: $screen-sm)
		flex: 0 0 60%
		max-width: 210px
		min-height: 160px
		height: auto
		margin-top: 0
		overflow-y: auto
	@media(min-width: $screen-sm + 1) and (max-width: $screen-md)
		height: 22.35%
		min-height: 290px
	@media(min-width: $screen-md + 1) and (max-width: 1760px)
		height: 25.25%
	@media(max-width: 1200px)
		background-color: #0080cb

.services__corner-marker
	position: absolute
	bottom: -12%
	right: -15%
	width: 12%
	height: 15%
	transition: all 0.2s
	transition-delay: 0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	align-items: center

.services__title-link
	width: 100%
	height: 100%
	padding: 45px
	@media(max-width: $screen-sm)
		padding: 15px
	@media(min-width: $screen-sm + 1) and (max-width: $screen-md)
		padding: 25px
	@media(min-width: $screen-md + 1) and (max-width: $screen-lg)
		padding: 30px
	@media(min-width: $screen-lg + 1) and (max-width: 1760px)
		padding: 35px

.services__container
	@media(max-width: $screen-sm)
		line-height: 22px
	@media(min-width: $screen-sm + 1) and (max-width: $screen-md)
		line-height: 28px
	@media(min-width: $screen-md + 1) and (max-width: $screen-lg)
		line-height: 36px
	@media(min-width: $screen-lg + 1) and (max-width: 1760px)
		line-height: 48px
	@media(min-width: 1761px)
		line-height: 48px

.services__container span
	transition: color 0.15s
	@media(max-width: $screen-sm)
		display: block
		font-size: 16px
		font-weight: bold
		margin-bottom: 0
		color: #fff
	@media(min-width: $screen-sm + 1) and (max-width: $screen-md)
		margin-bottom: 25px
		font-size: 22px
		font-weight: bold
		margin-bottom: 0
		color: #fff
	@media(min-width: $screen-md + 1) and (max-width: $screen-lg)
		font-size: 28px
		font-weight: bold
		color: #fff
	@media(min-width: $screen-lg + 1) and (max-width: 1760px)
		font-size: 32px
		font-weight: bold
		color: #000
	@media(min-width: 1761px)
		font-size: 36px
		font-weight: bold

.services__title-link
	font-size: 32px
	line-height: 48px
	color: #000
	text-decoration: none



.services__item:hover
	transition: background-color 0.15s ease-out
	@media(min-width: $screen-lg)
		background-color: #0080cb
	@media(min-width: $screen-sm)
		.services__container
			transform: translateX(2%)
			transition-duration:  0.5s
			transition-property: transform
		.services__title-link
			span				
				color: #fff
				border-bottom: 1px solid #fff
				@media(max-width: $screen-lg)
					padding-top: 35px
					transform: none
	.services__corner-marker
		position: absolute
		bottom: 0
		right: 0
		width: 12%
		height: 15%
		background-color: #3b424f
		padding: 15px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		@media(min-width: $screen-md + 1) and (max-width: $screen-lg)
			width: 15%
			height: 15%
		@media(max-width: $screen-md) 
			display: none

.services__item:nth-of-type(8)
	margin-right: 10%
	@media(max-width: $screen-sm)
		margin-right: 0

.services__item:first-of-type
	@media(max-width: $screen-sm)
		margin-left: 25px