// Borders

// .service__content
// 	border: 1px solid red

// .service__list
// 	border: 1px solid green

// .service__image
// 	border: 1px solid blue

// .service__item
// 	border: 1px solid orange

// End of Borders


.service__list
	list-style: none
	flex-basis: 60%
	@media(min-width: $screen-md)
		margin-left: 30px

.service__content
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	margin-bottom: 45px
	justify-content: flex-end
	flex-flow: row-reverse
		
	@media(max-width: $screen-md)
		flex-flow: column-reverse

.service__image
	min-width: 400px
	height: 330px
	flex-basis: 40%
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	@media(max-width: $screen-sm)
		display: none
	@media(max-width: $screen-md)
		margin-bottom: 30px
		width: 100%
		height: 200px
		background-position: center 60%
		min-width: auto
	@media(min-width: $screen-md + 1) and (max-width: $screen-xl)
		height: 330px
	&--audit
		background-image: url(../../img/1600w/audit-1600w.jpg)
	&--consulting
		background-image: url(../../img/1600w/consulting-1600w.jpg)
	&--ecology
		background-image: url(../../img/1600w/ecology-1600w.jpg)
	&--engineering
		background-image: url(../../img/1600w/engineering-1600w.jpg)
	&--investing
		background-image: url(../../img/1600w/investing-1600w.jpg)
	&--modelling
		background-image: url(../../img/1600w/modelling-1-1600w.jpg)
	&--planing
		background-image: url(../../img/1600w/planing-1-1600w.jpg)
	&--refining
		background-image: url(../../img/1600w/refining-1600w.jpg)
	&--research
		background-image: url(../../img/1600w/research-1-1600w.jpg)





.service__item
	position: relative
	margin: 15px 0
	color: $text-color
	font-size: 24px
	line-height: 36px
	font-weight: bold
	padding-left: 55px
	@media(max-width: $screen-sm)
		padding-left: 35px
		font-size: 16px
		line-height: 22px

.service__item:before
	position: absolute
	content: ''
	left: 0
	top: 18px
	height: 2px
	width: 40px
	background-color: $text-color
	@media(max-width: $screen-sm)
		bottom: 11px
		width: 20px

