
.table__title
	font-size: 48px
	line-height: 60px
	margin: 35px 12%
	color: $text-color
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		font-size: 38px
		line-height: 52px
		margin-bottom: 55px
	@media(max-width: $screen-sm)
		font-size: 28px
		line-height: 48px
		margin: 35px 0
	@media(max-width: 480px)
		font-size: 24px
		line-height: 36px
		margin: 35px 0

.table__wrapper
	position: relative
	box-sizing: content-box
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-flow: column
	min-width: 1000px
	color: $text-color

.table__fade
	position: absolute
	width: 100%
	height: 100%
	z-index: 10
	pointer-events: none
	&:after
		content: ""
		position: absolute

		right: 0
		background: linear-gradient(to right, rgba(0,0,0,0) 1%,rgba(255,255,255,1) 100%)
		width: 150px
		height: 100%
		top: 0
		bottom: 0
		@media(max-width: $screen-sm)
			width: 50px
	@media(min-width: 1250px)
		display: none


.table__row
	position: relative
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	padding: 35px 12%
	font-size: 16px
	line-height: 30px

	@media(min-width: $screen-lg + 1) and (max-width: $screen-xl)
		padding: 25px 0
		font-size: 16px
		line-height: 30px

	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		padding: 25px 0
		font-size: 14px
		line-height: 24px
	@media(max-width: $screen-sm)
		padding: 25px 0
		font-size: 14px
		line-height: 24px
	@media(max-width: 480px)
		padding: 25px 0
		font-size: 14px
		line-height: 24px

	&--header
		border-bottom: 1px solid #b8b8b8
		margin: 0
		padding: 25px 12%
		font-weight: bold
		&::after
			display: none
		@media(max-width: $screen-xl)
			padding: 25px 0

	&--active
		background-color: $second-color
		color: #fff

	&::after
		position: absolute
		z-index: 10
		content: ''
		bottom: 0
		left: 6%
		width: 84%
		height: 1px
		background-color: #b8b8b8
		@media(max-width: $screen-xl)
			left: 0
			width: 100%

.table__column
	text-align: left
	&--year
		width: 4%
	&--client
		width: 15%
	&--job
		width: 35%
	&--place
		width: 16%
	&--refine
		width: 20%
	&:not(:last-of-type)
		margin-right: 2.5%

.ref--yes
	position: relative
	&::before
		position: absolute
		content: ''
		top: 5px
		left: 0
		width: 10px
		height: 5px
		border-left: 5px solid $text-color
		border-bottom: 5px solid $text-color
		transform: rotate(-45deg)
		border-radius: 2px

.table__row--active
	.ref--yes::before
		border-left: 5px solid #fff
		border-bottom: 5px solid #fff
	.ref--no::before
		border-bottom: 5px solid #fff

.ref--no
	position: relative
	&::before
		position: absolute
		content: ''
		top: 5px
		left: 0
		width: 15px
		height: 5px
		border-bottom: 5px solid $text-color

		border-radius: 2px


