.team_content
    padding: 0 20% 2% 10% 
    @media(max-width: $screen-sm)
        padding: 0 2%

.team__list 
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-flow: column
    flex-flow: column
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    font-weight: bold
    list-style: none
    @media(min-width: $screen-sm + 1)
        margin-bottom: 90px

.team__item
    font-size: 22px
    position: relative
    padding-left: 30px
    padding-bottom: 20px
    @media(max-width: $screen-sm)
        font-size: 16px
        line-height: 24px

.team__item:after
    position: absolute
    top: 2px
    left: 0
    content: '—'
    font-size: 20px
    @media(max-width: $screen-sm)
        top: 0

.team__row
    display: flex
    width: 120%
    @media(max-width: $screen-lg)
        flex-flow: column
        flex-wrap: wrap
        width: 100%

.team__post
    font-weight: bold
    font-size: 24px
    margin-right: 5%
    p:first-of-type
        margin-bottom: 15px
    @media(max-width: $screen-sm)
        font-size: 18px
        margin: 0 0 25px

.team__comment
    font-size: 22px
    @media(max-width: $screen-sm)
        font-size: 16px
        padding-top: 0
        margin-bottom: 55px